.InputBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: -9rem;
  z-index: 5;
  left: 0;

  &Logos {
    flex: 1;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    img {
      max-width: 16rem;
    }
  }

  &Search {
    flex: 2;
    display: flex;
    align-items: center;
    // box-shadow: 1px 1px 6px -1px #a19c9b;

    box-shadow: 0px 20px 75px -20px rgba(0, 0, 0, 0.3);

    &Button {
      padding: 4rem 6rem;
      font-family: inherit;
      color: #fff;
      font-size: 1.7rem;
      border: none;
      outline: none;
      background: none;
      background-color: #ff6158;
      cursor: pointer;
    }
  }
}
