.SearchBox {
  background-color: #342e36;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  flex-direction: column;

  &Heading {
    width: 45%;
    text-align: center;
    margin-bottom: 4rem;
    position: relative;
    z-index: 12;
  }
  &Search {
    display: flex;
    margin-bottom: 4rem;
    :nth-child(1) {
      border: none !important;
      padding: 1.5rem 2.5rem !important;
    }

    &Button {
      background-color: #ff6158;
      font-family: inherit;
      color: #fff;
      border: none;
      outline: none;
      padding: 3rem 4rem;
      cursor: pointer;
    }
  }
}
