.Card {
  padding: 2.6rem;
  margin-left: 2rem;
  margin-right: 2rem;
  height: 31rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  transform: translateX(-50%);
  transition: all 0.5s;
  cursor: pointer;

  &Icon {
    margin-bottom: 0.7rem;
  }
  &Heading {
    margin-bottom: 0.7rem;
  }
  &Text {
    margin-bottom: 0.7rem;
    color: #443f44;
    font-size: inherit;
    line-height: 2.8rem;
    font-size: 1.4rem;
  }
  svg {
    color: currentColor;
    font-size: 3.5rem;
  }
}
